server:
  port: 8088

spring:

  redis:
    host: 127.0.0.1
    port: 6379
    jedis:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 100
        min-idle: 0
    timeout: 5000

  mail:
    host: smtp.126.com
    port: 25
    # 编码格式
    default-encoding: utf-8
    # 用户名
    username: planeter@126.com
    # 授权码
    password: AKFTIZMKULTWHNSD
    # 其它参数
    properties:
      from: planeter@163.com
      mail:
        smtp:
          # 如果是用 SSL 方式，需要配置如下属性
          starttls:
            enable: true
            required: true

  main:
    allow-bean-definition-overriding: true

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/muauction?serverTimezone=GMT%2B8
    username: root
    password: 1a2b3c4dZDQ

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        dialect: org.hibernate.dialect.MySQL57Dialect

  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest

  elasticsearch:
    rest:
      uris: http://localhost:9200
      username: elastic
      password: 123456
      ipPort: 127.0.0.1:9200
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

#logging:
#  level:
#    root: info
#    file:
#      path: ./logs
